<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/main.js"
	th:src="@{/resources/js/main.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    
    
    <div  style="height:500px;overflow:auto;">
			<table class="table table-striped">
				<tr>
					<th>
						Rental ID
					</th>
					<th>
						Bike ID(s)
					</th>		
					<th>
						Rent Date
					</th>
					<th>
						Time Out
					</th>
					<th>
						Time Due Back
					</th>	
					<th>
						Time Actually Back
					</th>	
					<th>
						Customer Name
					</th>		
					<th>
						Customer Address
					</th>
					<th>
						Customer Telephone
					</th>		
					<th>
						Amount Paid
					</th>
					<th>
						Edit
					</th>	
								
				</tr>
					<tr th:each="rental : ${allRentals}">
					<td>
					<p th:text="${rental.id}"></p>  
					</td>
					<td> 
						<a style ="color:#7272F7" th:href="@{/bike/bikeInfo(id=${rental.bike.id})}"> <span style="text-decoration: underline"><p th:text="${rental.bike.id}"></p> </span></a>
					</td>
					<td>
						<p th:text="${rental.rentDate}"></p>
					</td>
					<td>
						<p th:text="${rental.timeOut}"></p>
					</td>
					
					<td>
						<p th:text="${rental.timeBackDue}"></p>
					</td>
					<td>
						<p th:text="${rental.timeBackActual}"></p>
					</td>
					<td>
						<p th:text="${rental.customer.firstName}"></p>
						<p th:text="${rental.customer.lastName}"></p>
						
					</td>
					<td>
						<p th:text="${rental.customer.addressLine1}"></p>
					</td>
					<td> 
						<p th:text="${rental.customer.postcode}"></p>
					</td>
					<td> 
					
						<p th:text="${rental.amountPaid}"></p>
					
					</td>
					<td>
					
						<a href=""><span class="glyphicon glyphicon-edit"></span></a>
					
					</td>
				</tr>
				
			</table>
			</div>
</div>
</body>
</html>