<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/main.js"
	th:src="@{/resources/js/main.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    
    <div style="display:inline-block">
		<h2 class="pull-right"><small><a th:href="@{/bike/newbike}"><i class="fa fa-plus"></i>Add New Bike</a></small></h2>
	</div>
    <div  style="height:500px;overflow:auto;">
			<table class="table table-striped">
				<tr>
					<th>
						Bike ID
					</th>
					<th>
						Manufacturer
					</th>
					<th>
						Model
					</th>
					<th>
						Price (&#163;)
					</th>	
					<th>
						Purchase Date
					</th>	
					<th>
						Classification
					</th>		
					<th>
						Size
					</th>
					<th>
						Available
					</th>		
					<th>
						Delete
					</th>
					<th>
						Edit
					</th>					
				</tr>
				<tr th:each="bike : ${allBikes}">
					<td>
					<a style ="color:#7272F7" th:href="@{/bike/bikeInfo(id=${bike.id})}">	<span style="text-decoration: underline"><p th:text="${bike.id}"></p></span>  </a>
					</td>
					<td>
						<p th:text="${bike.manufacturer}"></p>
					</td>
					<td>
						<p th:text="${bike.model}"></p>
					</td>
					
					<td>
						<p th:text="${bike.price}"></p>
					</td>
					<td>
						<p th:text="${bike.purchaseDate}"></p>
					</td>
					<td>
						<p th:text="${bike.classification}"></p>
					</td>
					<td>
						<p th:text="${bike.size}"></p>
					</td>
					<td th:if="${bike.available == true}">
						<p th:text="${bike.available}" style="background-color: green; color: white; text-align: center;"></p>
					</td>
					<td th:if="${bike.available == false}">
						<p th:text="${bike.available}" style="background-color: red; color: white; text-align: center;"></p>
					</td>
					<td>
					
						<a th:href="@{/bike/deleteBike(id=${bike.id})}"><span class="glyphicon glyphicon-trash"></span></a>
					
					</td>
					<td>
					
						<a th:href="@{/bike/editBike(id=${bike.id})}"><span class="glyphicon glyphicon-edit"></span></a>
					
					</td>
				</tr>
				
			</table>
			</div>
</div>
</body>
</html>