<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container text-center"
		style="vertical-align: middle; text-align: center; margin: auto; position: relative"
		th:object="${bike}">

		<h1>Bike Data</h1>
		<br />
		<hr />
		<span class="col-md-1"></span>
		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Bike ID</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.id}"></span>
				</div>
			</div>
		</div>


		<div class="col-md-2" >
			<div class="panel panel-primary" id="manufacturer">
				<div class="panel-heading">
					<h3 class="panel-title">Manufacturer</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.manufacturer}"></span>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Model</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.model}"></span>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Size</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.size}"></span>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Purchase Date</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.PurchaseDate}"></span>
				</div>
			</div>
		</div>
		<br /> <span class="col-md-3"></span>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Price</h3>
				</div>
				<div class="panel-body">
					&#163;<span th:text="${bike.price}"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3" style="margin: auto; position: centre;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Available for rent</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.available}"></span>
				</div>
			</div>
		</div>
		<br /> <br />
		<hr />
		<div class="col-md-12">

			<div class="btn-group btn-group-lg" role="group" aria-label="...">
				<button id="hide" class="btn btn-primary">Maintenance</button>
				<button id="show" class="btn btn-primary">Rent Bicycle</button>
			</div>
			<div class="rentForm">
			<form class="form-group">
					<!-- Form Name -->
					<h3>Rent Bike</h3><div class="col-md-3"></div>
					<div class="col-md-3">
					<label>Name: <input type="text" class="form-control" placeholder="Name" /></label>
					<label>Rental Start Date <input type="date" class="form-control" placeholder="Duration" /></label>
					<label>Rental Return Date <input type="date" class="form-control" placeholder="Duration" /></label><br />
					<input type="submit" class="btn btn-success" value="Save" />	
							
					</div>
					
					
					<div class="col-md-3">
					<label>Number: <input type="text" class="form-control" placeholder="Name" /></label>
					<label>Adress Line 1 <input type="text" class="form-control" placeholder="Duration" /></label>
					<label>Adress Line 2<input type="text" class="form-control" placeholder="Duration" /></label>
					<input type="button" class="btn btn-danger" value="Cancel" />
					
					</div>
					

					

				
			</form>
</div>

			<div class="table">
			
			<form method="post" class="form-group" id="historyTable" th:action="@{bike/addNewRecord}" th:object="${maintenanceRecord}">
			  		<input type="hidden" th:field="*{id}"/>
			
					<!-- Form Name -->
					<h3>Add Record</h3>
					
				 	<label>Fault Details <input type="text" class="form-control" placeholder="Fault Details" th:field="*{faultDetails}" /></label>
					<label>Fault Date <input type="date" class="form-control" placeholder="Fault Date" /></label>
					<label>Action Taken <input type="text" class="form-control" placeholder="Action Taken" /></label>
					<label>Action Date <input type="date" class="form-control" placeholder="Action Date" /></label><br />
			
					<input type="submit" class="btn btn-success" value="Save" />	
				
			</form>
			
				<h2>Maintenance Table</h2>
				<p>Below you will find a history of this bikes maintenance</p>
				<h6><small>Add new Record</small></h6>
			
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Ref no.</th>
							<th>fault Details</th>
							<th>Fault Date</th>
							<th>Action Taken</th>
							<th>Action Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="record : ${history}">
							<td><span th:text="${record.id}"></span></td>
							<td><span th:text="${record.faultDetails}"></span></td>
							<td><span th:text="${record.faultDate}"></span></td>
							<td><span th:text="${record.actionTaken}"></span></td>
							<td><span th:text="${record.actionDate}"></span></td>
						</tr>
						
					</tbody>
				</table>

			</div>
		</div>







	</div>

</body>
<script>
	$(document).ready(function() {
		$(".table").hide();
		$("#hide").click(function() {
			$(".rentForm").hide();
			$(".table").show();

		});
		$("#show").click(function() {
			$(".rentForm").show();
			$(".table").hide();
			$("#historyTable").hide();

			
		});

		$("#manufacturer").click(function() {
			prompt("Manufacturer", "textbox's intial text");
			
		});
		$("small").click(function() {
			$("#historyTable").show();
			
		});


	});
</script>


</html>
