<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container text-center"
		style="vertical-align: middle; text-align: center; margin: auto; position: relative"
		th:object="${bike}">

		<h1>Bike Data</h1>
		<br />
		<hr />
		<span class="col-md-1"></span>
		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Bike ID</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.id}"></span>
				</div>
			</div>
		</div>


		<div class="col-md-2" >
			<div class="panel panel-primary" id="manufacturer">
				<div class="panel-heading">
					<h3 class="panel-title">Manufacturer</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.manufacturer}"></span>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Model</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.model}"></span>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Size</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.size}"></span>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Purchase Date</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.PurchaseDate}"></span>
				</div>
			</div>
		</div>
		<br /> <span class="col-md-3"></span>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Price</h3>
				</div>
				<div class="panel-body">
					&#163;<span th:text="${bike.price}"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3" style="margin: auto; position: centre;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Available for rent</h3>
				</div>
				<div class="panel-body">
					<span th:text="${bike.available}"></span>
				</div>
			</div>
		</div>
		<br /> <br />
		<hr />
		<div class="col-md-12">

			<div class="btn-group btn-group-lg" role="group" aria-label="...">
				<button id="hide" class="btn btn-primary">Maintenance</button>
				<button id="show" class="btn btn-primary">Rent Bicycle</button>
			</div>
			<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<h1>Rent Bike</h1>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="Name">Name</label>
						<div class="col-md-4">
							<input id="Name" name="Name" type="text" placeholder="Name"
								class="form-control input-md" required="" />

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="Duration">Duration</label>
						<div class="col-md-4">
							<input id="Duration" name="Duration" type="text"
								placeholder="Duration" class="form-control input-md" required="" />

						</div>
					</div>
					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton"></label>
						<div class="col-md-4">
							<button id="singlebutton" name="singlebutton"
								class="btn btn-primary">Button</button>
						</div>
					</div>

				</fieldset>
			</form>


			<div class="table">
				<h2>Maintencance Table</h2>
				<p>Below you will find a history of this bikes maintainence</p>
				<h6><small>Add new Record</small></h6>
			
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Ref no.</th>
							<th>fault Details</th>
							<th>Fault Date</th>
							<th>Action Taken</th>
							<th>Action Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Popped Tyre</td>
							<td>21/4/2119</td>
							<td>Jeff Patched it up</td>
							<td>21/4/2119</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Popped Tyre</td>
							<td>21/4/2119</td>
							<td>Jeff Patched it up</td>
							<td>21/4/2119</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Popped Tyre</td>
							<td>21/4/2119</td>
							<td>Jeff Patched it up</td>
							<td>21/4/2119</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Popped Tyre</td>
							<td>21/4/2119</td>
							<td>Jeff Patched it up</td>
							<td>21/4/2119</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Popped Tyre</td>
							<td>21/4/2119</td>
							<td>Jeff Patched it up</td>
							<td>21/4/2119</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>







	</div>

</body>
<script>
	$(document).ready(function() {
		$(".table").hide();
		$("#hide").click(function() {
			$(".form-horizontal").hide();
			$(".table").show();

		});
		$("#show").click(function() {
			$(".form-horizontal").show();
			$(".table").hide();
		});

		$("#manufacturer").click(function() {
			prompt("Manufacturer", "textbox's intial text");
			
		});
		$("small").click(function() {
			
			
		});


	});
</script>


</html>
