<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:text="#{view.index.title}">Welcome!</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
         media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
      <link href="../../../resources/css/core.css" rel="stylesheet"
         media="screen" th:href="@{/resources/css/core.css}" />
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="../../../resources/js/bootstrap.min.js"
         th:src="@{/resources/js/bootstrap.min.js}"></script>
   </head>
   <body>
      <div th:replace="fragments/header :: header">&nbsp;</div>
      <div class="container">
         <form method="post" th:action="@{/bike/addNewBike}"
            th:object="${bike}">
            <input type="hidden" th:field="*{id}" />
            <div class="container col-md-8 col-centered">
	            <div th:each="err : ${#fields.errors('*')}"  class="alert alert-danger alert-dismissible" role="alert" >
			 		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			 		<Strong th:text="${err}"></Strong>
				</div>
               <!--  add validation here when needed -->
               <div class="col-md-8">
                  <div class="col-md-8">
                  <div th:if = "${title != null}">
                  	<h2 th:text="${title}"></h2>
                  </div>
                     <h2>Create New Bike</h2>
                     <label> <input th:errorclass="value-error" type="text"
                        class="form-control form-padding" th:field="*{manufacturer}"
                        placeholder="Manufacturer" />
                     </label> <label> <input th:errorclass="value-error"  type="text"
                        class="form-control form-padding" th:field="*{model}"
                        placeholder="Model" />
                     </label> <label> <input type="text" th:errorclass="value-error" 
                        class="form-control form-padding" th:field="*{price}"
                        placeholder="Price" />
                     </label> 
                     <label>
                        <select class="form-control form-padding"
                           th:field="*{size}">
                           <option value="">Size</option>
                           <option
                              th:each="bikeSize : ${T(raysrentals.co.uk.rays_rentals.bike.BikeSize).values()}"
                              th:value="${bikeSize}" th:text="${bikeSize.prettyName}">
                           </option>
                        </select>
                     </label>
                     <label>
                        <select class="form-control"
                           th:field="*{classification}">
                           <option value="">Classification</option>
                           <option
                              th:each="bikeSize : ${T(raysrentals.co.uk.rays_rentals.bike.BikeClassification).values()}"
                              th:value="${bikeSize}" th:text="${bikeSize.prettyName}">
                           </option>
                        </select>
                     </label>
                     <div class="pull-right">
                        <a th:href="@{/bike/allbikes}"> <input type="button"
                           class="btn btn-danger" value="Cancel" /></a> <input type="submit"
                           class="btn btn-success" value="Save" />
                     </div>
                  </div>
               </div>
            </div>
         </form>
         
      </div>
   </body>
</html>